# Exercise 3

Related Notes:
- Fundamentals_2_Programming_Constructs
- Fundamentals_3_Data_Structures

## Exercise 3.1 Dude, What's my Index?

Consider the following list

`[3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5, 8, 9, 7, 9, 3, 2, 3, 8, 4, 6, 2, 6, 4, 3, 3, 8, 3, 2, 7, 9, 5, 0, 2, 8, 8]`

Write a program that print out:
- the indices of occurence of each digit (0-9) in the list, and 
- its number of occurences in the list 
in the following format.
> `<DIGIT> <LIST_OF_INDICES> <NO_OF_OCCURENCES>`<br>

Example Output: 

> Digit 0 : \[32\] : 1 

Try your program again with the following list.

`[3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5, 8, 9, 7, 9, 3, 2, 3, 8, 4, 6, 2, 6, 4, 3, 3, 8, 3, 2, 7, 9, 5, 2, 8, 8]`

In [2]:
original= [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5, 8, 9, 7, 9, 3, 2, 3, 8, 4, 6, 2, 6, 4, 3, 3, 8, 3, 2, 7, 9, 5, 2, 8, 8]

for i in range(10):
    indices_list= []
    counter=0
    for x in original:
        if i == x:
            indices_list.append(counter)
        counter += 1
    print("Digit {}, {}, {}".format(i, indices_list, original.count(i)))

Digit 0, [], 0
Digit 1, [1, 3], 2
Digit 2, [6, 16, 21, 28, 32], 5
Digit 3, [0, 9, 15, 17, 24, 25, 27], 7
Digit 4, [2, 19, 23], 3
Digit 5, [4, 8, 10, 31], 4
Digit 6, [7, 20, 22], 3
Digit 7, [13, 29], 2
Digit 8, [11, 18, 26, 33, 34], 5
Digit 9, [5, 12, 14, 30], 4

## Exercise 3.2 Some Heights Statistics

Write a program that:
- ask user to input the heights value (in centimeter) of $n$ students. The entered values are integer.
- store the input values in list and print the list out
- display the lowest, highest and mean of the height of these $n$ students. In case you have forgotten, mean is the arithmetic average.  

Example Output: 

>Number of heights to be entered: 4<br>
>100<br>
>120<br>
>110<br>
>130<br>
>The list of heights: \[100,120,110,130\]<br>
>Minimum height is 100 cm, maximum height is 130 cm and the average height is 115.0 cm.

In [5]:
a= int(input("Enter a height (in cm)"))
b= int(input("Enter a height (in cm)"))
c= int(input("Enter a height (in cm)"))
d= int(input("Enter a height (in cm)"))
lst= [a,b,c,d]
maximum= max(lst)
minimum= min(lst)
average= float((a+b+c+d)/4)
print("Minimum height is {}cm, Maximum Height is {}cm and the average height is {}cm".format(minimum, maximum, average))

Enter a height (in cm)100
Enter a height (in cm)120
Enter a height (in cm)110
Enter a height (in cm)130
Minimum height is 100cm, Maximum Height is 130cm and the average height is 115.0cm

## Exercise 3.3 Binning

In a school the grades obtained by a student in a certain subject depends on their mark, ranging from 0 to 100, obtained for the subject and it follows the following table.

<center>

| Marks ($m$)| Grade |
|-------|-------|
|   $m<40$    |    U     |
|   $40\leq m\leq 44$     |    S     |
|   $45\leq m\leq 49$    |    E     |
|   $50\leq m\leq 54$    |    D     |
|   $55\leq m\leq 59$    |    C     |
|   $60\leq m\leq 69$    | B     |
|   $m\geq 70$    |    A     |

</center>

Following are the list of marks obtained by students from 2 different classes. `mark_1` is a list from one class and `mark_2` is a list from the other class.

```
mark_1 = [46, 41, 74, 53, 31, 39, 49, 57, 76, 80, 78, 38, 31, 56, 98, 55, 41, 73, 23, 88, 55, 60, 33, 40]

mark_2= [69, 48, 50, 95, 87, 11, 28, 36, 25, 70, 25, 54, 33, 42, 27, 24, 44, 20, 61, 43, 30, 44, 7, 21]
```

Write a program that:
- print outs the list of the students in each grade group in an *desscending order* in the following format
>`<GRADE> <LIST OF DESCENDING VALUES> <NO OF STUDENTS IN THE LIST>`<br>
    - if there are no students receiving such grade, print the empty list `[]`.

Example Output: 
>#Assume the marks are stored in the list \[39,45,66,68,75\]<br>
>U: \[39\] 1 <br>
>S: \[45\] 1 <br>
>E: \[\] 0 <br>
>D: \[\] 0 <br>
>C: \[\] 0 <br>
>B: \[68,66\] 2 <br>
>A: \[75\] 1 <br>

In [8]:
mark_1 = [46, 41, 74, 53, 31, 39, 49, 57, 76, 80, 78, 38, 31, 56, 98, 55, 41, 73, 23, 88, 55, 60, 33, 40]
mark_2= [69, 48, 50, 95, 87, 11, 28, 36, 25, 70, 25, 54, 33, 42, 27, 24, 44, 20, 61, 43, 30, 44, 7, 21]
lst_U=[]
lst_S=[]
lst_E=[]
lst_D=[]
lst_C=[]
lst_B=[]
lst_A=[]
for i in mark_1:
    if i >= 70:
        lst_A.append(i)
    elif i >= 60:
        lst_B.append(i)
    elif i >= 55:
        lst_C.append(i)
    elif i >= 50:
        lst_D.append(i)
    elif i >= 45:
        lst_E.append(i)
    elif i >= 40:
        lst_S.append(i)
    else: 
        lst_U.append(i)
print("U:{} {}".format(lst_U,len(lst_U)))
print("S:{} {}".format(lst_S,len(lst_S)))
print("E:{} {}".format(lst_E,len(lst_E)))
print("D:{} {}".format(lst_D,len(lst_D)))
print("C:{} {}".format(lst_C,len(lst_C)))
print("B:{} {}".format(lst_B,len(lst_B)))
print("A:{} {}".format(lst_A,len(lst_A)))

U:[31, 39, 38, 31, 23, 33] 6
S:[41, 41, 40] 3
E:[46, 49] 2
D:[53] 1
C:[57, 56, 55, 55] 4
B:[60] 1
A:[74, 76, 80, 78, 98, 73, 88] 7

## Exercise 3.4 A Funny Interest

Mr. $B$ was offered an investment opportunity with a company where if he was to invest \$1000, he was guaranteed a 100% yearly interest rate, i.e. Mr. $B$ will be receive \$2000 after 1 year, inclusive of his capital.  

A friend of his that work in the company offers him another deal: same capital \$1000, same yearly interest rate of 100% but applied quarterly for a year, meaning every 3 months, the applied interest rate to the current amount is $\frac{100}{4}\%=25\%$. So, after 3rd month, his investment becomes \$1250. After 6th month, it's \$1562.50. After 9th month, it's \$1953.13. 
Under this scheme, how much would Mr. $B$'s investment worth after a full year?

Suppose that instead of applying the interest rate of 100% quarterly, a human error caused the interest rate to be applied hourly instead, for a full year. How much value will Mr. $B$'s investment worth then?

## Exercise 3.5 Doubling My Money

A customer is considering to deposit her money into a savings account with one of the locally available banks. As of 5th March 2021, the interest rates offered are given in the following table:

<center>

|         Savings Account        | Yearly Interest rate (%) |
|:------------------------------:|:-----------------:|
| BOC SmartSaver                 |         1         |
| DBS Multiplier Account         |        0.4        |
| UOB One Account                |        0.5        |
| Standard Chartered Bonus$saver |        0.38       |
| OCBC 360 Account               |        0.55       |

</center>

Write a program that:
- Prints out a list that contains the number of years that is required for the money in savings account to double for each type of savings account.

Example output: 

>With 1% yearly interest rate with BOC SmartSaver, it will take ___ years for the money to double.<br>

For each of the savings account, compare the number of years obtained in the earlier part with the number $\frac{72}{100r}$, where $r$ is the yearly interest rate. What do you observe? Can you explain your observation?

## Exercise 3.6 Arihtmetic Sequence Revisited

Recall from Exercise 1.2, an **arithmetic sequence** is a sequence of real numbers 
$$u_1,u_2,\cdots, u_n$$
such that the difference between two consecutive terms is constant, i.e. $u_{n+1}-u_n=d$ for some constant $d\in \mathbb{R}$ and $d\neq 0$, called the **common difference** and $n\geq 1$.

The problem: 
- Request a numeric input from the user to be used as the first term.  Let us denote this input as `first_term`.
- Request a numeric input from the user to be used as the common difference.  Let us denote this input as `common_difference`.
- Request an integer input greater or equal to $4$ from the user for the number of terms.  Let us denote this input as `number_of_terms`. 
- Print out the list that contains the arithmetic sequence up to the $n$th term.
- Print the list that contains the first 3 terms of the arithmetic sequence. 
- Print the list that contains the last 4 terms of the arithmetic sequence. 
- Use `.list` method to calculate the sum of the first $n$ terms of the arithmetic sequence.

Example interaction: 

>Please input the first term in the arithmetic sequence:<br>
>2<br>
>Please input the common difference:<br>
>3<br>
>Please input the number of terms:<br>
>5<br>
>The list containing the first 5 terms of the arithmetic sequence are:<br>
>\[2,5,8,11,14\]<br>
>The list of the first 3 terms of the sequence is:<br>
>\[2,5,8\]<br>
>The list of the last 4 terms of the sequence is:<br>
>\[5,8,11,14\]<br>
>The sum of all the terms in the sequence is:<br>
>38<br>